:root {
  --maxwidht: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

img {
  width: 100%;
  max-height: 30vh;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: normal;
  margin: 0.5rem;
  text-align: center;
}

p {
  font-size: 2rem;
  color: red;
  font-weight: 600;
  margin: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: inherit;
  border: solid 1px lightgray;
}

button:hover {
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
}

button:active {
  box-shadow: 1px 1px 5px black inset;
}

#add {
  border: 1px solid black;
  width: 100px;
  padding: 0.5rem 1rem;
  margin: 20px auto;
  text-align: center;
}

#add:hover {
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
}

#add:active {
  box-shadow: 1px 1px 5px black inset;
}

a {
  text-decoration: none;
  color: black;
}
